.notification-background {
  color: @text;
  background: @mantle;
  border-radius: var(--border-radius);
  margin: 7.5px 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @surface0;
}

.notification-background .notification {
  padding: 8px;
  border-radius: var(--border-radius);
}

.notification-background .notification.critical {
  border: 1px solid @red;
}

.notification .notification-content {
  margin: 8px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 4px;
}

.notification-content .summary {
  color: @text;
}

.notification-content .time {
  color: @subtext0;
}

.notification-content .body {
  color: @subtext1;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  color: @base;
  background: @red;
  border-radius: calc(var(--border-radius) / 2);
  margin: 8px;
  padding: 2px;
}

.notification-background .close-button:hover {
  background-color: @maroon;
}

.notification-background .close-button:active {
  background-color: @pink;
}

.notification .notification-action {
  color: @text;
  border-radius: calc(var(--border-radius) / 2);
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem; /* controls the button size not text size */
  box-shadow: inset 0 0 0 1px @surface1;
}

.notification .notification-action {
  background-color: @surface0;
}

.notification .notification-action:hover {
  background-color: @surface1;
}

.notification .notification-action:active {
  background-color: @surface2;
}

.notification.critical progress {
  background-color: @red;
}

.notification.low progress,
.notification.normal progress {
  background-color: @blue;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12.6px;
  padding: 3px 0;
}
