configuration {
    modes: [drun, filebrowser, ssh, run];
    show-icons:                  true;
    icon-theme:                  "Numix-Circle";
    display-drun:                " ";
    display-run:                 " ";
    display-filebrowser:         " ";
    display-ssh:                 "";
    drun-display-format:         "{name}";
    font:                        "JetBrainsMono NFP 13";
}

@theme "theme"
