configuration {
    modi:                        "drun,filebrowser,window,run";
    show-icons:                  true;
    icon-theme:                  "Papirus";
    display-drun:                " ";
    display-run:                 " ";
    display-filebrowser:         " ";
    display-window:              " ";
    drun-display-format:         "{name}";
    window-format:               "{w}{t}";
    font:                        "JetBrainsMono NF 13";
}

@theme "theme"