@import url("../../.cache/wal/colors-waybar.css");

* {
    all: unset;
    font-family: JetBrainsMono NFP;
    font-size: 1rem;
    min-height: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

tooltip {
    background: alpha(@background, .90);
    border-radius: 1rem;
}

tooltip box {
  padding: 8px;
}

tooltip label {
  color: @cursor;
}

window#waybar {
    background: transparent;
    color: @cursor;
}

#workspaces {
    background-color: alpha(@background, 0.90);
    border-radius: 1rem;
    margin: 3px 5px 3px 20px;
}

#workspaces button {
    background-color: @color3;
    color: @cursor;
    border-radius: 1rem;
    padding: 0 8px;
    margin: 3px 4px;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
    background-color: transparent;
    color: alpha(@cursor, 0.33);
}

#workspaces button.active {
    background-color: @color6;
    color: @color1;
    padding: 0 15px;
}

#workspaces button.urgent {
    background: transparent;
    color: #f38ba8;
}

#workspaces button:hover {
    background-color: @color6;
    color: @color1;
}

#mpris {
    background-color: alpha(@background, 0.90);
    color: @cursor;
    border-radius: 1rem;
    padding: 0 15px;
    margin: 3px 5px;
}

#idle_inhibitor,
#clock,
#custom-notification,
#custom-pacman,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#tray,
#custom-lock,
#custom-power {
    background-color: alpha(@background, 0.90);
    padding: 0;
    margin: 3px 0;
}

#idle_inhibitor {
    color: @cursor;
    border-radius: 1rem 0 0 1rem;
    padding: 0 0 0 15px;
    margin: 3px 0 3px 5px;
}

#clock {
    color: @cursor;
    border-radius: 0 1rem 1rem 0;
    padding: 0 15px 0 7px;
    margin: 3px 5px 3px 0;
}

#custom-pacman {
    color: @cursor;
    border-radius: 1rem;
    padding: 0 15px;
    margin: 3px 5px;
}

#cpu {
    color: @cursor;
    border-radius: 1rem 0 0 1rem;
    padding: 0 7.5px 0 15px;
    margin: 3px 0 3px 5px;
}

#memory {
    color: @cursor;
    border-radius: 0 1rem 1rem 0;
    padding: 0 15px 0 7.5px;
    margin: 3px 5px 3px 0;
}

#network {
    color: @cursor;
    border-radius: 1rem 0 0 1rem;
    padding: 0 7.5px 0 15px;
    margin: 3px 0 3px 5px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0 1rem 1rem 0;
    padding: 0 15px 0 7.5px;
    margin: 3px 5px 3px 0;
}

#pulseaudio {
    color: @cursor;
    border-radius: 1rem 0 0 1rem;
    padding: 0 7.5px 0 15px;
    margin: 3px 0 3px 5px;
}

#backlight {
    color: #f9e2af;
    padding: 0 7.5px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 1rem 1rem 0;
    padding: 0 15px 0 7.5px;
    margin: 3px 5px 3px 0;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.warning:not(.charging) {
    color: #f38ba8;
}

#custom-notification {
    color: #f9e2af;
    border-radius: 1rem;
    padding: 0 15px;
    margin: 3px 20px 3px 5px;
}
