@import "theme.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono NFP", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    all: unset;
}

tooltip {
    background: @main-bg;
    border-radius: 5px;
    border: 1px solid alpha(@main-fg, .1);
}

tooltip label {
  color: @main-fg;
  padding: 0 5px;
}

#taskbar button {
    color: @wb-act-fg;
    border-radius: 10px;
    padding: 0 5px;
    margin: 3px;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    padding: 0 8px;
    margin: 3px 0;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button {
    color: @main-fg;
    border-radius: 10px;
    padding: 0 5px;
    margin: 3px;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    padding: 0 8px;
    margin: 3px 0;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    background: transparent;
    color: @wb-hvr-bg;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu separator {
    min-height: 3px;
}

#custom-rofi,
#custom-explorer,
#taskbar,
#window,
#workspaces,
#idle_inhibitor,
#clock,
#mpris,
#tray,
#custom-pacman,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-system,
#cpu,
#memory,
#disk,
#custom-power,
#custom-l_end,
#custom-r_end {
    background: alpha(@main-bg, .8);
    color: @main-fg;
    margin: 5px 0 0;
    padding: 0 5px;
}

#custom-l_end {
    border-radius: 20px 0 0 20px;
    margin-left: 5px;
}

#custom-r_end {
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
}
