@import "theme.css";

* {
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono NFP", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

tooltip {
    background: @base;
    border-radius: 5px;
    border: 1px solid @text;
}

tooltip label {
  color: @text;
  padding: 0 5px;
}

#taskbar button {
    color: @text;
    border-radius: 10px;
    padding: 0;
    margin: 3px 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: @blue;
    color: @crust;
    padding: 0 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @blue;
    color: @crust;
    padding: 0 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button {
    color: @text;
    border-radius: 10px;
    padding: 0;
    margin: 3px 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @text;
    color: @crust;
    padding: 0 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    background: transparent;
    color: @red;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @blue;
    color: @crust;
    padding: 0 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu {
    background-color: alpha(@base, .9);
    color: @text;
    border-radius: 5px;
    border: 1px solid @text;
}

#tray menu menuitem:hover {
  background-color: @text;
  color: @mantle;
}

#tray menu separator {
    background-color: @text;
    min-height: 1px;
}

#custom-rofi,
#custom-explorer,
#taskbar,
#window,
#workspaces,
#idle_inhibitor,
#clock,
#mpris,
#tray,
#custom-pacman,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-system,
#cpu,
#memory,
#disk,
#user,
#custom-power,
#custom-l_end,
#custom-r_end {
    background: alpha(@crust, .8);
    color: @text;
    margin: 5px 0;
    padding: 0 5px;
}

#custom-l_end {
    border-radius: 20px 0 0 20px;
    margin-left: 5px;
}

#custom-r_end {
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
}
