@import "theme.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono NF", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: @bar-bg;
    margin: 5px;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0;
}

#workspaces button {
    color: @main-fg;
    box-shadow: none;
	text-shadow: none;
    border-radius: 100px;
    padding: 0px 7px 0px 1px;
    margin: 3px 2px;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background-color: @wb-act-bg;
    color: @wb-act-fg;
    padding: 0px 13px 0px 7px;
    margin: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    background-color: transparent;
    color: @wb-hvr-bg;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    color: @wb-color;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    padding: 0px 3px;
    margin: 3px 2px;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    padding: 0px 12px;
    margin: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 8px
}

#custom-rofi,
#custom-explorer,
#taskbar,
#window,
#workspaces,
#idle_inhibitor,
#clock,
#mpris,
#custom-updates,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-system,
#cpu,
#memory,
#disk,
#custom-power,
#custom-l_end,
#custom-r_end {
    color: @main-fg;
    background-color: rgba(17, 17, 27, 0.5);
    margin: 4px 0;
    padding: 0 4px;
}

#custom-rofi,
#workspaces,
#custom-updates,
#network,
#custom-system,
#cpu,
#memory,
#disk {
    padding: 0 15px 0 0;
}

#tray {
    color: @main-fg;
    background-color: rgba(17, 17, 27, 0.5);
    margin: 4px 0;
    padding: 0;
}

#window,
#mpris,
#backlight,
#battery  {
    padding: 0 0 0 15px;
}

#idle_inhibitor,
#custom-power {
    font-size: 11px;
}

#custom-l_end {
    border-radius: 21px 0 0 21px;
    margin-left: 10px;
    padding-left: 5px;
}

#custom-r_end {
    border-radius: 0 21px 21px 0;
    margin-right: 10px;
    padding-right: 5px;
}
