@import "$HOME/.cache/wal/colors-waybar.css";

* {
    background-image: none;
    font-size: ${fntSize}px;
    box-shadow: none;
    text-shadow: none;
}

window {
    background-color: transparent;
}

button {
    color: @cursor;
    background-color: alpha(@background, 0.90);
    outline-style: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
}

button:focus {
    background-color: @background;
    background-size: 20%;
}

button:hover {
    background-color: @color2;
    background-size: 25%;
    color: @background;
    border-radius: ${active_rad}px;
    transition: all 0.3s cubic-bezier(.55, 0, .28, 1.682);
}

button:hover#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock-dark.svg"), url("/usr/share/wlogout/assets/lock.svg"));
    border-radius: ${active_rad}px ${active_rad}px 0px ${active_rad}px;
    margin: ${y_hvr}px 0px 0px ${x_hvr}px;
}

button:hover#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot-dark.svg"), url("/usr/share/wlogout/assets/reboot.svg"));
    border-radius: ${active_rad}px ${active_rad}px ${active_rad}px 0px;
    margin: ${y_hvr}px ${x_hvr}px 0px 0px;
}

button:hover#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout-dark.svg"), url("/usr/share/wlogout/assets/logout.svg"));
    border-radius: ${active_rad}px 0px ${active_rad}px ${active_rad}px;
    margin: 0px 0px ${y_hvr}px ${x_hvr}px;
}

button:hover#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown-dark.svg"), url("/usr/share/wlogout/assets/shutdown.svg"));
    border-radius: 0px ${active_rad}px ${active_rad}px ${active_rad}px;
    margin: 0px ${x_hvr}px ${y_hvr}px 0px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.svg"), url("/usr/share/wlogout/assets/lock.svg"));
    border-radius: ${button_rad}px 0px 0px 0px;
    margin: ${y_mgn}px 0px 0px ${x_mgn}px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot.svg"), url("/usr/share/wlogout/assets/reboot.svg"));
    border-radius: 0px ${button_rad}px 0px 0px;
    margin: ${y_mgn}px ${x_mgn}px 0px 0px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout.svg"), url("/usr/share/wlogout/assets/logout.svg"));
    border-radius: 0px 0px 0px ${button_rad}px;
    margin: 0px 0px ${y_mgn}px ${x_mgn}px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown.svg"), url("/usr/share/wlogout/assets/shutdown.svg"));
    border-radius: 0px 0px ${button_rad}px 0px;
    margin: 0px ${x_mgn}px ${y_mgn}px 0px;
}
